<div ng-controller="InfoCtrl">
  <!-- Header Bar -->
  <div class="row header">
    <div class="col-xs-12">
      <div class="meta">
        <div class="page">
          Info
        </div>
        <div class="breadcrumb-links">
          Home / Info
        </div>
      </div>
    </div>
  </div>
  <!-- End Header Bar -->

  <div class="row">
    <div class="col-lg-6" ng-repeat="cpu in cpus">
      <rd-widget>
        <rd-widget-body>
          <canvas id="cpu.name" class="chart chart-line" 
            data="cpu.data" labels="cpu.labels" series="cpu.series" 
            options="cpu.options" 
            legend="true" click="onClick">
          </canvas>
          <linechart data="data" options="options" mode="" width="" height=""></linechart>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon green pull-left">
            <i class="fa fa-users"></i>
          </div>
          <div class="title">80</div>
          <div class="comment">Users</div>
        </rd-widget-body>
      </rd-widget>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon red pull-left">
            <i class="fa fa-tasks"></i>
          </div>
          <div class="title">16</div>
          <div class="comment">Servers</div>
        </rd-widget-body>
      </rd-widget>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon orange pull-left">
            <i class="fa fa-sitemap"></i>
          </div>
          <div class="title">225</div>
          <div class="comment">Documents</div>
        </rd-widget-body>
      </rd-widget>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon blue pull-left">
            <i class="fa fa-support"></i>
          </div>
          <div class="title">62</div>
          <div class="comment">Tickets</div>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>
</div>